<!DOCTYPE html>
<html>
<head>
    <title>Step-by-Step Solver</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Theme CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base-theme.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/solution.css') }}">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <h2>Solve Your Cube!</h2>
    <div id="hold-instructions">
        <b>Hold the cube so that the white (U) face is on top and green (F) face is in front.</b>
    </div>
    <div id="move-instructions"></div>
    <button id="next-move">Next Move</button>
    <script src="/static/js/solution_animation.js"></script>
</body>
</html>